<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>119</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>118</string>
					<key>Timestamp</key>
					<string>732106590.8333189</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEW MODELS 💛💛💛/Profile Tab/ProfileViewModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        for index in 0...100 {
</string>
				<key>leading</key>
				<string>        initializeTabLabelContentOffsetsArray()
        
</string>
				<key>trailing</key>
				<string>            self.array.append(.init(text: index.description))
        }
        
</string>
			</dict>
			<key>title</key>
			<string>remove later</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>43</string>
					<key>EndingLineNumber</key>
					<string>13</string>
					<key>StartingColumnNumber</key>
					<string>43</string>
					<key>StartingLineNumber</key>
					<string>13</string>
					<key>Timestamp</key>
					<string>732129658.112663</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEW MODELS 💛💛💛/Profile Tab/ProfileViewModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>final class ProfileVM: ObservableObject {
    // MARK: - PRORPERTIES
    @Published var array: [MockModel] = []</string>
				<key>trailing</key>
				<string>
    // MARK: - Common
    @Published var isScrolling: Bool = false
</string>
			</dict>
			<key>title</key>
			<string>remove later</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>138</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>137</string>
					<key>Timestamp</key>
					<string>732337888.431758</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEW MODELS 💛💛💛/Profile Tab/ProfileVM.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        for index in 0...100 {
</string>
				<key>leading</key>
				<string>        refreshableStateSubscriber()
        
</string>
				<key>trailing</key>
				<string>            self.array.append(.init(text: index.description))
        }
    }
</string>
			</dict>
			<key>title</key>
			<string>remove later</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>145</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>144</string>
					<key>Timestamp</key>
					<string>732337888.4317811</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEW MODELS 💛💛💛/Profile Tab/ProfileVM.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    private func mockNetworkCall() async -&gt; Bool {
</string>
				<key>leading</key>
				<string>    // MARK: - FUNCTIONS
    
</string>
				<key>trailing</key>
				<string>        try? await Task.sleep(nanoseconds: 2_000_000_000)
        return true
    }
</string>
			</dict>
			<key>title</key>
			<string>remove later</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>103</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>102</string>
					<key>Timestamp</key>
					<string>732337888.431716</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEW MODELS 💛💛💛/Profile Tab/ProfileVM.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    @Published var avatarImageName: URL? = Bundle.main.url(forResource: "Super Heroes_29", withExtension: "png")
</string>
				<key>leading</key>
				<string>    }
    @Published var profilePhotoURL: URL? = .init(string: "https://img.freepik.com/free-photo/portrait-young-woman-with-natural-make-up_23-2149084907.jpg")
</string>
				<key>trailing</key>
				<string>    
    // MARK: - Profile Info
    @Published var personalName: String = "Deepashika Sajeewanie"
</string>
			</dict>
			<key>title</key>
			<string>remove if needed</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>260</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>259</string>
					<key>Timestamp</key>
					<string>734508674.157939</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/EXTENSIONS/View+EXT.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            .gesture(
</string>
				<key>leading</key>
				<string>                (scrollView.contentOffset.y &lt; 0 ? abs(scrollView.contentOffset.y) : 0)
            }
</string>
				<key>trailing</key>
				<string>                DragGesture()
                    .onChanged { value in
                        print(value)
</string>
			</dict>
			<key>title</key>
			<string>Implement this later</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>208</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>207</string>
					<key>Timestamp</key>
					<string>735516163.18425</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Secondary Bubble Types/Conversations_PhotoVideoGIFLinkBasedSecondaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        let url: URL? = .init(string: "https://i0.wp.com/www.galvanizeaction.org/wp-content/uploads/2022/06/Wow-gif.gif?fit=450%2C250&amp;ssl=1")
</string>
				<key>leading</key>
				<string>    @ViewBuilder
    private var gifBased: some View {
</string>
				<key>trailing</key>
				<string>        
        WebImage(url: url, options: [.scaleDownLargeImages, .retryFailed, .progressiveLoad])
            .resizable()
</string>
			</dict>
			<key>title</key>
			<string>initialize to url property</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>192</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>191</string>
					<key>Timestamp</key>
					<string>735516163.1842721</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Secondary Bubble Types/Conversations_PhotoVideoGIFLinkBasedSecondaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            if let videoURL: URL = Bundle.main.url(forResource: "video", withExtension: "mp4"),
</string>
				<key>leading</key>
				<string>    private var videoBased: some View {
        Group {
</string>
				<key>trailing</key>
				<string>               let image: UIImage = Utilities.getThumbnailFrom(videoURL) {
                Image(uiImage: image)
                    .resizable()
</string>
			</dict>
			<key>title</key>
			<string>initialize to url property</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>179</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>178</string>
					<key>Timestamp</key>
					<string>735516163.1843261</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Secondary Bubble Types/Conversations_PhotoVideoGIFLinkBasedSecondaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        let url: URL? = Bundle.main.url(forResource: "photo", withExtension: "jpg")
</string>
				<key>leading</key>
				<string>    @ViewBuilder
    private var photoBased: some View {
</string>
				<key>trailing</key>
				<string>        
        WebImage(url: url, options: [.scaleDownLargeImages, .retryFailed, .progressiveLoad])
            .resizable()
</string>
			</dict>
			<key>title</key>
			<string>initialize to url property</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>149</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>148</string>
					<key>Timestamp</key>
					<string>735994136.741078</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Conversations_PrimaryNSecondaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            Image(.follower3)
</string>
				<key>leading</key>
				<string>    private var stickerBased: some View {
        if withSecondaryContent {
</string>
				<key>trailing</key>
				<string>                .resizable()
                .scaledToFill()
                .frame(width: values.stickerFrameSize, height: values.stickerFrameSize)
</string>
			</dict>
			<key>title</key>
			<string>use progressiveloading along with a placeholder</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>221</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>220</string>
					<key>Timestamp</key>
					<string>735516163.184208</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Secondary Bubble Types/Conversations_PhotoVideoGIFLinkBasedSecondaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        let urlString: String = "https://img.youtube.com/vi/fdZwRDv9OWI/mqdefault.jpg"
</string>
				<key>leading</key>
				<string>    @ViewBuilder
    private var linkWithPreviewBased: some View {
</string>
				<key>trailing</key>
				<string>        
        WebImage(url: .init(string: urlString), options: [.scaleDownLargeImages, .retryFailed, .progressiveLoad])
            .resizable()
</string>
			</dict>
			<key>title</key>
			<string>initialize to url property</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>159</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>158</string>
					<key>Timestamp</key>
					<string>735516163.18431</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Secondary Bubble Types/Conversations_PhotoVideoGIFLinkBasedSecondaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                Conversations_MediaBadgeTextView(text: "https://youtu.be/fdZwRDv9OWI?si=XRE-8O3nr-JvMXRO")
</string>
				<key>leading</key>
				<string>                Conversations_GIFBadgeView()
            case .linkWithPreview, .linkTextOnly:
</string>
				<key>trailing</key>
				<string>            default:
                EmptyView()
            }
</string>
			</dict>
			<key>title</key>
			<string>get from url property</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>42</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>41</string>
					<key>Timestamp</key>
					<string>735513035.558432</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Secondary Bubble Types/Conversations_PhotoVideoGIFLinkBasedSecondaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    var secondaryBubbleWidth: CGFloat {
</string>
				<key>leading</key>
				<string>    var outerPadding: (Edge.Set, CGFloat) { secondaryBubbleValues.outerPadding }
    
</string>
				<key>trailing</key>
				<string>        (outerPadding.1 * 2) +
        secondaryBubbleValues.stripWidth +
        (secondaryBubbleValues.vContainerHPadding * 2) +
</string>
			</dict>
			<key>title</key>
			<string>change this along the way</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>4</string>
					<key>EndingLineNumber</key>
					<string>13</string>
					<key>StartingColumnNumber</key>
					<string>4</string>
					<key>StartingLineNumber</key>
					<string>13</string>
					<key>Timestamp</key>
					<string>735420821.467713</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Primary Bubble Types/Conversations_TextBasedPrimaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    @Environment(\.dynamicTypeSize) private var dynamicTypeSize
    
    </string>
				<key>trailing</key>
				<string>
    let text: String
    let timestamp: String
</string>
			</dict>
			<key>title</key>
			<string>create a property called isLink: Bool</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>91</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>90</string>
					<key>Timestamp</key>
					<string>735516163.184291</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Secondary Bubble Types/Conversations_PhotoVideoGIFLinkBasedSecondaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                if secondaryMediaType != .socialMediaInfo {
</string>
				<key>leading</key>
				<string>        case .photo, .video, .gif, .linkWithPreview, .linkTextOnly, .socialMediaInfo:
            HStack(spacing: secondaryBubbleValues.vContainerHPadding) {
</string>
				<key>trailing</key>
				<string>                    strip
                    verticalContainer
                    spacer
</string>
			</dict>
			<key>title</key>
			<string>strip has no use if secondary content type is .socialMediaInfo, don't forget to remove strip with from messagebubble width</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>26</string>
					<key>EndingLineNumber</key>
					<string>247</string>
					<key>StartingColumnNumber</key>
					<string>26</string>
					<key>StartingLineNumber</key>
					<string>247</string>
					<key>Timestamp</key>
					<string>735857187.842205</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Secondary Bubble Types/Conversations_PhotoVideoGIFLinkBasedSecondaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    }
    
    // MARK: - tiktokBased</string>
				<key>trailing</key>
				<string>
    @ViewBuilder
    private var tiktokBased: some View {
</string>
			</dict>
			<key>title</key>
			<string>extract this to a different view</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>284</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>283</string>
					<key>Timestamp</key>
					<string>735993101.5076489</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Secondary Bubble Types/Photo Video GIF Link Based/Conversations_PhotoVideoGIFLinkBasedSecondaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                self
</string>
				<key>leading</key>
				<string>            switch socialMediaType {
            case .facebook:
</string>
				<key>trailing</key>
				<string>            case .instagram:
                self
            case .youtube:
</string>
			</dict>
			<key>title</key>
			<string>replace self later</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>286</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>285</string>
					<key>Timestamp</key>
					<string>735993101.5076261</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Secondary Bubble Types/Photo Video GIF Link Based/Conversations_PhotoVideoGIFLinkBasedSecondaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                self
</string>
				<key>leading</key>
				<string>                self
            case .instagram:
</string>
				<key>trailing</key>
				<string>            case .youtube:
                self
            case .tiktok:
</string>
			</dict>
			<key>title</key>
			<string>replace self later</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>288</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>287</string>
					<key>Timestamp</key>
					<string>735993101.507584</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Secondary Bubble Types/Photo Video GIF Link Based/Conversations_PhotoVideoGIFLinkBasedSecondaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                self
</string>
				<key>leading</key>
				<string>                self
            case .youtube:
</string>
				<key>trailing</key>
				<string>            case .tiktok:
                if let object: TikTokInfoModel = dataObject as? TikTokInfoModel,
                   object.data.coverPhotoURL != nil {
</string>
			</dict>
			<key>title</key>
			<string>replace self later</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
