<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>119</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>118</string>
					<key>Timestamp</key>
					<string>732106590.8333189</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEW MODELS 💛💛💛/Profile Tab/ProfileViewModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        for index in 0...100 {
</string>
				<key>leading</key>
				<string>        initializeTabLabelContentOffsetsArray()
        
</string>
				<key>trailing</key>
				<string>            self.array.append(.init(text: index.description))
        }
        
</string>
			</dict>
			<key>title</key>
			<string>remove later</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>43</string>
					<key>EndingLineNumber</key>
					<string>13</string>
					<key>StartingColumnNumber</key>
					<string>43</string>
					<key>StartingLineNumber</key>
					<string>13</string>
					<key>Timestamp</key>
					<string>732129658.112663</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEW MODELS 💛💛💛/Profile Tab/ProfileViewModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>final class ProfileVM: ObservableObject {
    // MARK: - PRORPERTIES
    @Published var array: [MockModel] = []</string>
				<key>trailing</key>
				<string>
    // MARK: - Common
    @Published var isScrolling: Bool = false
</string>
			</dict>
			<key>title</key>
			<string>remove later</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>138</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>137</string>
					<key>Timestamp</key>
					<string>732337888.431758</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEW MODELS 💛💛💛/Profile Tab/ProfileVM.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        for index in 0...100 {
</string>
				<key>leading</key>
				<string>        refreshableStateSubscriber()
        
</string>
				<key>trailing</key>
				<string>            self.array.append(.init(text: index.description))
        }
    }
</string>
			</dict>
			<key>title</key>
			<string>remove later</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>145</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>144</string>
					<key>Timestamp</key>
					<string>732337888.4317811</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEW MODELS 💛💛💛/Profile Tab/ProfileVM.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    private func mockNetworkCall() async -&gt; Bool {
</string>
				<key>leading</key>
				<string>    // MARK: - FUNCTIONS
    
</string>
				<key>trailing</key>
				<string>        try? await Task.sleep(nanoseconds: 2_000_000_000)
        return true
    }
</string>
			</dict>
			<key>title</key>
			<string>remove later</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>103</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>102</string>
					<key>Timestamp</key>
					<string>732337888.431716</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEW MODELS 💛💛💛/Profile Tab/ProfileVM.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    @Published var avatarImageName: URL? = Bundle.main.url(forResource: "Super Heroes_29", withExtension: "png")
</string>
				<key>leading</key>
				<string>    }
    @Published var profilePhotoURL: URL? = .init(string: "https://img.freepik.com/free-photo/portrait-young-woman-with-natural-make-up_23-2149084907.jpg")
</string>
				<key>trailing</key>
				<string>    
    // MARK: - Profile Info
    @Published var personalName: String = "Deepashika Sajeewanie"
</string>
			</dict>
			<key>title</key>
			<string>remove if needed</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>260</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>259</string>
					<key>Timestamp</key>
					<string>734508674.157939</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/EXTENSIONS/View+EXT.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            .gesture(
</string>
				<key>leading</key>
				<string>                (scrollView.contentOffset.y &lt; 0 ? abs(scrollView.contentOffset.y) : 0)
            }
</string>
				<key>trailing</key>
				<string>                DragGesture()
                    .onChanged { value in
                        print(value)
</string>
			</dict>
			<key>title</key>
			<string>Implement this later</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>170</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>169</string>
					<key>Timestamp</key>
					<string>735136604.142916</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Secondary Bubble Types/Conversations_PhotoVideoGIFLinkBasedSecondaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        let url: URL? = .init(string: "https://i0.wp.com/www.galvanizeaction.org/wp-content/uploads/2022/06/Wow-gif.gif?fit=450%2C250&amp;ssl=1")
</string>
				<key>leading</key>
				<string>    @ViewBuilder
    private var gifBased: some View {
</string>
				<key>trailing</key>
				<string>        
        WebImage(url: url, options: [.scaleDownLargeImages, .retryFailed, .progressiveLoad])
            .resizable()
</string>
			</dict>
			<key>title</key>
			<string>initialize to url property</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>154</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>153</string>
					<key>Timestamp</key>
					<string>735136604.142939</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Secondary Bubble Types/Conversations_PhotoVideoGIFLinkBasedSecondaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            if let videoURL: URL = Bundle.main.url(forResource: "video", withExtension: "mp4"),
</string>
				<key>leading</key>
				<string>    private var videoBased: some View {
        Group {
</string>
				<key>trailing</key>
				<string>               let image: UIImage = Utilities.getThumbnailFrom(videoURL) {
                Image(uiImage: image)
                    .resizable()
</string>
			</dict>
			<key>title</key>
			<string>initialize to url property</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>141</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>140</string>
					<key>Timestamp</key>
					<string>735136604.142872</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Secondary Bubble Types/Conversations_PhotoVideoGIFLinkBasedSecondaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        let url: URL? = Bundle.main.url(forResource: "photo", withExtension: "jpg")
</string>
				<key>leading</key>
				<string>    @ViewBuilder
    private var photoBased: some View {
</string>
				<key>trailing</key>
				<string>        
        WebImage(url: url, options: [.scaleDownLargeImages, .retryFailed, .progressiveLoad])
            .resizable()
</string>
			</dict>
			<key>title</key>
			<string>initialize to url property</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>29</string>
					<key>EndingLineNumber</key>
					<string>148</string>
					<key>StartingColumnNumber</key>
					<string>29</string>
					<key>StartingLineNumber</key>
					<string>148</string>
					<key>Timestamp</key>
					<string>735129560.625036</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Conversations_PrimaryNSecondaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    private var stickerBased: some View {
        if withSecondaryContent {
            Image(.follower3)</string>
				<key>trailing</key>
				<string>
                .resizable()
                .scaledToFill()
</string>
			</dict>
			<key>title</key>
			<string>use progressiveloading along with a placeholder</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>183</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>182</string>
					<key>Timestamp</key>
					<string>735136604.142958</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>IAMSAD/VIEWS ❤️❤️❤️/Conversations Tab/Conversation Thread/Message Bubble Types/Primary N Secondary Bubble Types/Secondary Bubble Types/Conversations_PhotoVideoGIFLinkBasedSecondaryBubbleView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        let urlString: String = "https://youtu.be/fdZwRDv9OWI?si=XRE-8O3nr-JvMXRO"
</string>
				<key>leading</key>
				<string>    @ViewBuilder
    private var linkBased: some View {
</string>
				<key>trailing</key>
				<string>        
        if let youtubeID: String = Utilities.extractYouTubeID(from: urlString),
           let url: URL = .init(string: "https://img.youtube.com/vi/\(youtubeID)/mqdefault.jpg") {
</string>
			</dict>
			<key>title</key>
			<string>initialize to url property</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
